{% extends 'base_template.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
     <title>
        {% block title %} HomediCall: Layanan Kesehatan dari Rumah {% endblock %}
     </title>
</head>

{% block content%}

<section id="hero">
    <div class="container">
        <div class="col-lg-12 text-center center margin padding-y">
            <h1 style="font-size: 4rem;"><b>Semua bisa sehat,<br>dari rumah.</b></h1>
            <p><b>HomediCall</b> menyediakan berbagai layanan rumah sakit <br>yang bisa kamu akses dari rumah.</p>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">Pesan Layanan</button>
          </div>
      
    </div>
    <section id="tentang">
        <div class="container  margin padding-y">
            <div class="col-lg-12  margin padding-y">
                <div class="col-lg-6">
                    <h1><b>Tentang HomediCall</b></h1>
                    <div class="padding-y">
                        <p>
                            HomediCall merupakan platform layanan kesehatan kunjungan rumah. HomediCall menyediakan sebuah platform layanan health-care home service
                            yang didalamnya melibatkan keterlibatan antara fasilitas kesehatan dengan pasien. HomediCall hadir untuk menjembatani 
                            Telemedicine dengan permasalahan kesehatan yang ada di masyarakat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section id="layanan">
    <div class="container  margin padding-y">
        <div class="col-lg-12  margin padding-y">
            <div class="col-lg-6">
                <h1><b>Layanan kami</b></h1>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</section>

<section id="2">
    <div class="container  margin padding-y">
        <div class="col-lg-12  margin padding-y">
            <div class="col-lg-6">
                <h1><b>Partner kami</b></h1>
                <div class="owl-carousel owl-theme">
                    <div class="item"><h4>1</h4></div>
                    <div class="item"><h4>2</h4></div>
                    <div class="item"><h4>3</h4></div>
                    <div class="item"><h4>4</h4></div>
                    <div class="item"><h4>5</h4></div>
                    <div class="item"><h4>6</h4></div>
                    <div class="item"><h4>7</h4></div>
                    <div class="item"><h4>8</h4></div>
                    <div class="item"><h4>9</h4></div>
                    <div class="item"><h4>10</h4></div>
                    <div class="item"><h4>11</h4></div>
                    <div class="item"><h4>12</h4></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="3">
    <div class="container  margin padding-y">
        <div class="col-lg-12  margin padding-y">
            <div class="col-lg-6">
                <h1><b>Webinar</b></h1>
            </div>
        </div>
    </div>
</section>
<section id="3">
    <div class="container  margin padding-y">
        <div class="col-lg-12  margin padding-y">
            <div class="col-lg-6">
                <h1><b>Kata mereka tentang HomediCall</b></h1>
            </div>
        </div>
    </div>
</section>


<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })
</script>
{% endblock content %}