@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    width:100%;
    overflow-x:hidden;
}

body {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    line-height: 180%;
    background-color: #F9FAFC;
    color: #141111;
}
.text-center{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center1 {
    top: 50%;
    left: 50%;
    vertical-align: middle;
}

.margin {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.padding-x {
    padding: 0 2vw 0 2vw;
}

.padding-y {
    padding: 2vw 0 0 0;
}

.padding-full {
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
}

.header {
    font-size: clamp(18px, 3vw, 24px);
    padding: 2vw 2vw 0 0;
    line-height: 180%;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


.hidden {
    display: none;
}
.show {
    display: block;
}

.background{
    z-index: -100;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .item-details{
    color: #131313;
    padding: 20px 10px;
    text-align: left;
}
.item {
    text-align: center;
    padding: 20px;
    margin-bottom:80px;
}

.owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
.owl-carousel {
    position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
.owl-carousel .owl-prev {
    left: -70px;
}
.owl-carousel .owl-next {
    right: -70px;
}